<!DOCTYPE html>
<html lang="en" class="no-js">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <title>{{ site.title }}</title>

    <meta name="description" content="{{ site.description }}" />
    <meta property="og:title" content="{{ site.title }}" />
    <meta property="og:description" content="{{ site.description }}" />
    <meta property="og:image" content="/thumbnail.png" />
    <meta property="og:image:alt" content="Cursor preview" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta property="og:url" content="{{ site.url }}" />
    <link rel="canonical" href="{{ site.url }}" />

    <link rel="icon" href="/favicon.svg" type="image/svg+xml" />
    <meta name="theme-color" content="#ffffff" />

    {% include "partials/styles.njk" %}
  </head>

  <body>
    {% include "partials/corner.njk" %}
    {{ content | safe }}
  </body>
</html>
