---
layout: "layouts/default.njk"
---
{% from "partials/card.njk" import card %}

<h1>{{ site.title }}</h1>

<ul class="icons">
  {% for icon in icons %}
    <li class="icon" {% if icon.cursor %} style="cursor: {{ icon.cursor }}"{% endif %}>
      {{ card(icon)}}
    </li>
  {% endfor %}
  <li class="icon">
    <h3>All cursors</h3>
    <p>Download:
      <a href="https://github.com/daviddarnes/mac-cursors">SVG or PNG</a>
    </p>
  </li>
</ul>

<footer class="footer">
  <a href="https://darn.es">Spontaneously made by David Darnes</a>
</footer>
