{% macro card(icon) %}

  <h3>{{ icon.id }}</h3>
  <div id="{{ icon.id }}">{% include 'src/svg/' + icon.id + '.svg' %}</div>
  <p><code>cursor: {{ icon.cursor if icon.cursor else "unknown" }}</code></p>
  <p>Download:
    <a download href="/svg/{{ icon.id }}.svg">SVG</a>
    <a download href="/png/{{ icon.id }}.png">PNG</a>
    <a download href="/png/{{ icon.id }}@2x.png">PNG @2x</a>
  </p>
{% endmacro %}
